
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




.rotated-card {
  transform: rotateY(180deg); 
  transition-property: transform; 
  transition-duration: 0.9s; 
 
}